body {
	margin: 5% 5% 0 5%;
}

svg {
	background-color: white;
	padding: 5px 0 5px 0;
}

/* Working */
.playground {
	fill: red;

	stroke: none;
	stroke-width: 1px;
}

path.playground.outer {
	fill: red;
	stroke: red;
	stroke-width: 1px;
}

path.playground.inner {
	fill: lightgreen;
	stroke: lightgreen;
	stroke-width: 1px;
}

/* Working */
path {
	fill: white;
	stroke: white;
}
