<!--
<ion-buttons class="ion-text-center ion-no-margin ion-no-padding" *ngIf="!previousPage">
	<button *ngIf="nextPage" ion-button small round class="padding-horizontal home-button" color="dark"
		(click)="openPage(nextPage)">
		<span>Let's get started!</span>
	</button>
</ion-buttons>

<ion-buttons *ngIf="prevPage" ion-row
	class="ion-no-margin ion-no-padding ion-justify-content-between ion-align-items-center">

	<ion-col col-auto class="ion-no-margin no-padding">
		<ion-button *ngIf="prevPage" color="dark" round icon-only class="ion-no-margin ion-no-padding"
			(click)="openPage(prevPage)">
			<ion-icon name="arrow-back"></ion-icon>
		</ion-button>
	</ion-col>

	<ion-col col-auto class="ion-no-margin no-padding">
		<ion-button *ngIf="nextPage" color="dark" small round icon-only class="ion-no-margin ion-no-padding"
			(click)="openPage(nextPage)">
			<ion-icon name="arrow-forward"></ion-icon>
		</ion-button>
	</ion-col>

</ion-buttons>
-->